Lab Exercises:

1)
Implement a PySpark script that applies transformations like filter and withColumn on a
DataFrame.

2) Write a PySpark script that performs actions like count and show on a DataFrame.

3) Demonstrate how to perform basic aggregations (e.g., sum, average) on a PySpark
DataFrame.

4) Show how to write a PySpark DataFrame to a CSV file.

5) Implement wordcount program in PySpark.

In [42]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql import functions

In [43]:
spark = SparkSession.builder.appName('Lab 2').getOrCreate()

In [44]:
df = spark.createDataFrame([
    (1, 'Eve', 'MIT', 9.5),
    (2, 'Bob', 'IIT', 9.7),
    (3, 'John', 'MIT', 8.9),
    (4, 'Jane', 'DU', 8.5),
    (5, 'Alice', 'IIT', 9.1)
    ], ['id', 'name', 'college', 'CGPA'])

# Q2
print(df.count())
df.show()
df.printSchema()

5
+---+-----+-------+----+
| id| name|college|CGPA|
+---+-----+-------+----+
|  1|  Eve|    MIT| 9.5|
|  2|  Bob|    IIT| 9.7|
|  3| John|    MIT| 8.9|
|  4| Jane|     DU| 8.5|
|  5|Alice|    IIT| 9.1|
+---+-----+-------+----+

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- college: string (nullable = true)
 |-- CGPA: double (nullable = true)

In [45]:
# Q1
df.filter(df.college == 'MIT').show()

+---+----+-------+----+
| id|name|college|CGPA|
+---+----+-------+----+
|  1| Eve|    MIT| 9.5|
|  3|John|    MIT| 8.9|
+---+----+-------+----+

In [46]:
# Q1
df.filter(df["name"].startswith("J")).show()

+---+----+-------+----+
| id|name|college|CGPA|
+---+----+-------+----+
|  3|John|    MIT| 8.9|
|  4|Jane|     DU| 8.5|
+---+----+-------+----+

In [47]:
# Q1
df.withColumn('age', df["id"]*10).show()

+---+-----+-------+----+---+
| id| name|college|CGPA|age|
+---+-----+-------+----+---+
|  1|  Eve|    MIT| 9.5| 10|
|  2|  Bob|    IIT| 9.7| 20|
|  3| John|    MIT| 8.9| 30|
|  4| Jane|     DU| 8.5| 40|
|  5|Alice|    IIT| 9.1| 50|
+---+-----+-------+----+---+

In [48]:
# Q3
df.agg(functions.min('CGPA'),
       functions.max('CGPA'),
       functions.mean('CGPA')).show()

+---------+---------+---------+
|min(CGPA)|max(CGPA)|avg(CGPA)|
+---------+---------+---------+
|      8.5|      9.7|     9.14|
+---------+---------+---------+

In [49]:
#Q4
# df = df.coalesce(1)
df.write.csv("/home/lplab/Desktop/210962158/Lab 2/saving as csv ")